library {
    display: block;
    background: #f5f7ff;
    padding: 15px;
    font-family: Arial;
}

header {
    display: block;
    font-size: 32px;
    text-align: center;
    background: #4facfe;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

book {
    display: block;
    margin: 10px;
    padding: 12px;
    background: #ffffff;
    border-left: 5px solid #ff6b9a;
    border-radius: 8px;
}

name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #222;
}

writer, press, vol {
    display: block;
    color: #444;
    margin-left: 10px;
}